
<div th:replace="~{partes-compartilhadas/topo}"></div><!--Importando o topo das paginas-->
                
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Novo Usuários</h1>
                   

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px;">
                      <form method="post" th:action="@{/usuario/criar}"  style="margin: 10px"  th:object="${UsuarioModel}">
                            
                    <div class="form-row">
			                <div class="form-group col-md-6">
							          <label for="nome">Nome Completo</label> 
							          <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome completo"  required >
							        </div>
							      <div class="form-group col-md-6">
                        <label for="cpf">CPF</label>
                        <input type="text" id="cpf" name="cpf" class="form-control" maxlength="11" placeholder="Digite seu CPF" required>
                        <small id="cpfhelp" class="form-text text-muted">Apenas números</small>
							      </div>
							    
                    </div>
                    <div class="form-row">

                       <div class="form-group col-md-4">
                       <label for="telefone">Telefone</label>
                       <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone" maxlength="11"   required>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="sexo_biologico">Sexo biologico</label>
                        <select id="sexo_biologico" name="sexo_biologico" class="form-control" aria-label="Disabled select example" required >
                          <option disabled selected>Escolha o sexo biologico</option>
                          <option value="feminino">Feminino</option>
                          <option value="masculino">Masculino</option>
                        </select>
                      </div>

							        <div class="form-group col-md-4">
							          <label for="data_de_nascimento">Data de nascimento</label>
							          <input type="date" class="form-control" id="data_de_nascimento" name="data_de_nascimento" required>
							        </div>

							     </div>
                            
                      <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" class="form-control" id="email" name="email" placeholder="Digite o email" required>
                      </div>  

                      <div class="form-group">
                       <label for="endereco">Endereço</label>
                       <input  type="text"class="form-control" id="endereco" name="endereco" placeholder="Digite o seu endereço" required>
                      </div>

                         

                      <div class="form-group">
                       <label for="senha">Senha</label>
                       <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                      </div>
                                                         
                     <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="permissoes">Permissões:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label th:each="permissao : ${permissoes}" class="btn btn-outline-primary text-center mr-2">
                            <input type="checkbox"
                                  class="mt-1"
                                  name="permissoes"
                                  th:value="${permissao.id}"
                                  th:id="'perm_' + ${permissao.id}"
                                  autocomplete="off"
                                  onchange="verificarPermissao()" />
                                  <span th:text="${permissao.descricao}"></span>
                          </label>
                        </div>
                      </div>

        <!--/* quando mudar para bootstrap 5<div th:each="permissao : ${permissoes}" class="me-2 d-inline-block">
    <input class="btn-check" type="checkbox" name="permissoes" th:value="${permissao.id}" th:id="'perm_' + ${permissao.id}" />
    <label class="btn btn-outline-primary" th:for="'perm_' + ${permissao.id}" th:text="${permissao.descricao}">Permissão</label> </div> */-->
  

                       <div class="form-group col-md-6" id="div-Crm" style="display: none;">
                        <label for="senha">Digite o CRM</label>
                        <input type="text" class="form-control" id="crm" name="crm" placeholder="Digite o CRM" required>
                          <small id="crmhelp" class="form-text text-muted">Apenas números</small>
                      </div> 
                      </div>
                         	
                      <br>
                      <button type="submit" class="btn btn-primary">Enviar</button>

                      </form>
                        
                    </div>

<script>

document.getElementById('nome').addEventListener('input', function (e) {
  this.value = this.value.replace(/[^A-Za-z]/g, '');  });

 function soNumeros(e) {
    this.value = this.value.replace(/[^0-9]/g, '');
}

document.getElementById('cpf').addEventListener('input', soNumeros);

document.getElementById('telefone').addEventListener('input', soNumeros);

document.getElementById('crm').addEventListener('input', soNumeros);


function verificarPermissao() {
  const checkbox = document.getElementById("perm_1");
  const CampoCRM = document.getElementById("div-Crm");
    if (checkbox && checkbox.checked) {
      CampoCRM.style.display = "block";
    } else {
      CampoCRM.style.display = "none";
      document.getElementById("crm").value = null;
    }}


                        </script> 
               
               <div th:replace="~{partes-compartilhadas/footer}"></div><!--Parte que importa o html responsavel pela parte de baixo das paginas-->