
<div th:replace="~{partes-compartilhadas/topo}"></div><!--Parte que importa o html responsavel pelo topo das paginas-->
              
                        <style>
                        td.nome,
                        td.endereco {
                            white-space: normal;      
                            word-wrap: break-word;   
                            overflow-wrap: break-word;
                            max-width: 150px;        
                            }
                        
                        table {
                        table-layout: fixed;
                        width: 100%;
                        }

                        .dataTables_filter {  
                        margin-right: 2%;
                         }
                        </style>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tabela de Usuários</h1>
                    <p class="mb-4">Lista de Usuários do sistema</p>

                    <div th:if="${mensagem}" id="mensagem"  class="alert alert-success" role="alert">
                        <p th:text="${mensagem}"></p>
                        <script> setTimeout(function removerItem (){document.getElementById("mensagem").remove()},5000);</script>
                    </div>
                    <div th:if="${mensagemErro}" id="mensagem"  class="alert alert-danger" role="alert">
                        <p th:text="${mensagemErro}"></p>
                        <script> setTimeout(function removerItem (){document.getElementById("mensagem").remove()},5000);</script>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a  th:href="@{/cadastro-de-usuario}" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Usuários </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="98%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th hidden >Cpf escondido</th>
                                            <th>CPF</th>
                                            <th>Email</th>
                                            <th>Telefone</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                               <tr th:each="usuarios : ${usuarios}">
                                                  <td th:text="${usuarios.nome}"></td>
                                                  <td hidden th:text="${usuarios.cpf}"></td>
                                                  <td class="cpf" th:text="'***.' + ${usuarios.cpf.substring(3,6)} + '.***-' + ${usuarios.cpf.substring(9,11)}"></td>
                                                  <td th:text="${usuarios.email}"></td>
                                                  <td th:text="${usuarios.telefone}"></td>
                                                  <td><a th:href="@{'usuario/' + ${usuarios.id}}" class="btn btn-warning btn-block" >Alterar</a></td>
                                                  <td><!-- Adicionar um modal aqui -->
                                                    <form th:action="@{/deletar-usuario/{id}(id=${usuarios.id})}" method="post">
                                                    <button type="submit"  class="btn btn-danger btn-block"      onclick="return confirm('Confirma a ação de deletar o usuario ?')">Excluir</button>
                                                    </form>
                                                  </td>
                                                    <!--/* <a th:href="@{/deletar-usuario/{id}(id=${usuarios.id})}" class="btn btn-danger btn-block"  onclick="return confirm ('Confirma a ação ?')">  Excluir</a></td> */-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

              <script>
                $(document).ready(function() {
                $('#dataTable').DataTable({
                    autoWidth: false,
                    // <!--/* Na mesma ordem das colunas da tabela */--> //
                    columns: [
                        null,
                        { visible: false },
                        null,
                        null,
                        null,
                        { orderable: false },
                        { orderable: false },],
                        ordering: false
                        });
                    });
              </script>
               
                <div th:replace="~{partes-compartilhadas/footer}"></div><!--Parte que importa o html responsavel pela parte de baixo das paginas-->