<div th:replace="~{partes-compartilhadas/topo}"></div><!--Parte que importa o html responsavel pelo topo das paginas-->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                
                    <style>
                        td.nome,
                        td.endereco {
                            white-space: normal;      
                            word-wrap: break-word;   
                            overflow-wrap: break-word;
                            max-width: 180px;        
                            }
                        table {
                        table-layout: fixed;
                        width: 100%;
                        }
                        .dataTables_filter {  
                        margin-right: 4%;
                         }
                        </style>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tabela de Pacientes</h1>
                    <p class="mb-4">Lista de Pacientes do sistema</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/cadastro-paciente" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de Pacientes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="98%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th >Nome</th>                                  
                                            <th  hidden>Cpf escondido</th>
                                            <th  >CPF</th>
                                            <th  >Telefone</th>
                                            <th  >Endereço</th>    
                                            <th colspan="3"> Ações</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="pacientes : ${pacientes}">
                                            <td id="nome" th:text="${pacientes.nome}" style="text-transform: capitalize;"></td>
                                            <td hidden th:text="${pacientes.cpf}"></td> 
                                            <td class="cpf" th:text="'***.' + ${pacientes.cpf.substring(3,6)} + '.***-' + ${pacientes.cpf.substring(9,11)}"></td>
                                            <td th:text="${pacientes.telefone}"></td>
                                            <td id="endereco" th:text="${pacientes.endereco}"></td>
                                            <td><a th:href="@{'/consultar-' + ${pacientes.id}}" class="btn btn-success btn-block" >Consultar</a></td>
                                            <td><a th:href="@{'/paciente-' + ${pacientes.id}}" class="btn btn-warning btn-block" >Alterar</a></td>
											<td><a th:href="@{/deletar-paciente/{id}(id=${pacientes.id})}" class="btn btn-danger btn-block"  onclick="return confirm ('Confirma a ação ?')">Excluir</a></td>

                                        </tr>
                                    </tbody>
                                        <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> jQuery -->


                <script> 
              $(document).ready(function() {
                $('#dataTable').DataTable({
                    autoWidth: false,
                    // <!--/* Na mesma ordem das colunas da tabela */--> //
                    columns: [
                        null,
                        { visible: false },
                        null,
                        null,
                        null,
                        { orderable: false },
                        { orderable: false },
                        { orderable: false }],
                        ordering: false
    });
});
                    
                </script>
                <!-- /.container-fluid -->
                <div th:replace="~{partes-compartilhadas/footer}"></div><!--Parte que importa o html responsavel pela parte de baixo das paginas-->